@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

/* Define Light Theme Colors using custom properties */
@theme {
  --color-primaryLight: #5eaaa8;
  --color-accentLight: #f25c54;
  --color-secondaryLight: #ffffff;
  --color-backgroundLight: #f4f3ef;
  --color-textLight: #2e2e2e;

  --color-primaryDark: #5eaaa8;
  --color-accentDark: #f25c54;
  --color-secondaryDark: #1f1f1f;
  --color-backgroundDark: #151515;
  --color-textDark: #e8e6e3;
}

html.light,
body.light {
  background-color: var(--color-backgroundLight);
  color: var(--color-textLight);
}

html.dark,
body.dark {
  background-color: var(--color-backgroundDark);
  color: var(--color-textDark);
}

/* 
 {
  cursor: none;
} */
